
body.input_medicine {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.input_medicine {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background: #ffffff;
}

.container-headinmdc {
    max-width: 700px;
    width: 100%;
    background-color: rgb(152, 198, 255);
    padding: 25px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    max-height: 80vh;
    margin-top: 70px;
    overflow-y: auto; 
}

.container-headinmdc header {
    font-size: 24px;
    color: #333333;
    font-weight: 550;
    text-align: center;
    flex-shrink: 0;
}

.form-inmdc {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 60vh;
    padding-right: 10px;
}

.inputmdc-box {
    width: 100%;
}

.inputmdc-box label {
    display: block;
    font-size: 14px;
    font-weight: bold;
    color: black;
    margin-bottom: 5px;
}

.inputmdc-box input {
    width: 100%;
    height: 40px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 6px;
}

.inputmdc-box input:focus {
    border: 2px solid rgb(105, 12, 255);
    outline: none;
}

.column-inmdc {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.column-inmdc .inputmdc-box {
    flex: 1;
}

.button-inmdc {
    height: 45px;
    width: 100%;
    background: #ffffff;
    color: rgb(8, 2, 90);
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 500;
    border: none;
}

.button-inmdc:hover {
    background-color: #6513c2;
    color: white;
}

.content-inputmdc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

@media (max-width: 768px) {
    .form-inmdc .column-inmdc {
        grid-template-columns: 1fr; 
    }

    .column-inmdc {
        flex-direction: column;
    }

    .container-headinmdc {
        overflow-y: auto;
    }
}